name: Java CICD project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: |
          mvn clean install

      - name: Build & push Docker image
        uses: docker/cli@v2
        with:
          command: build
          args: -t bapu9trix/cicdimpl:latest -f Dockerfile .

