name: Java CI/CD project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build & push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .  # Path to the Dockerfile and context (current directory)
          push: true
          tags: bapu9trix/cicdimpl:latest
          builder: mybuilder  # Specify the builder name, replace with your desired name
          github-token: ${{ secrets.GITHUB_TOKEN }}
          build-args: |
            --build-arg DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
            --build-arg DOCKER_PASSWORD=${{ secrets.DOCKER_PASSWORD }}
