name: Java CICD project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: |
        mvn clean install
    - name: Buid & push Docker image
      uses: bapu9trix/cicdimpl@main
      with:
        image: bapu9trix/cicdimpl
        tags: latest
        registry: docker.io
        dockerfile: DockerFile
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_USERNAME}}



    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
 
